<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home</title>

    <link rel="stylesheet" type="text/css" href="css/public.css" />
    <link rel="stylesheet" type="text/css" href="css/login.css" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link rel="stylesheet" type="text/css" href="css/home.css" />

    <script src="https://unpkg.com/vue/dist/vue.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.12.0/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui@2.12.0/lib/index.js"></script>
    <script src="js/getUrlParam.js"> </script>


    <!-- <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script> -->
    <script src="https://cdn.bootcss.com/qs/6.7.0/qs.min.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script> -->
</head>
<style>
    [v-cloak] {
		display: none;
	}

    .rad {
        display: block;
        margin-left: 26px;
    }

    .rad span {
        font-size: 18px;

    }

    .mid {
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .onetitle {
        font-size: 20px;
    }
</style>

<body>

    <div id="app" v-cloak>

        <div class="head">
            <div class="wrapper clearfix">
                <div class="clearfix" id="top">
                    <h1 class="fl"><a href="index.html"><img src="img/logo.png" class="Linn" /></a></h1>
                    <div class="fr clearfix" id="top1" style="margin-top: 2%;">
                        <!-- <p v-if="loginCheck" class="fl">
							<a href="login.html">登录</a>
							<a href="reg.html">注册</a>
						</p> -->
                        <p class="fl">
                            欢迎您,{{reallname}}
                        </p>
                        <form action="#" method="get" class="fl">
                            <input type="text" placeholder="热门搜索：优质房间" />
                            <input type="button" />
                        </form>
                        <div class="btn fl clearfix">
                            <img src="img/grzx.png" @click="tiaozhuan" />
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="Li">客房查询</div>
        <div class="LI">
            <div class="Li_1">
                <el-menu class="el-menu-vertical-demo" :default-openeds=["1","2","3"]>
                    <el-submenu index="1">
                        <template slot="title">
                            <i class="el-icon-location"></i>
                            <span class="onetitle">大小</span>
                        </template>
                        <el-menu-item-group>
                            <el-radio-group v-model="ok.one">
                                <span @click="one_1">
                                    <el-radio :label='1' class='rad'><span>单人</span></el-radio>
                                </span>
                                <span @click="one_2">
                                    <el-radio :label='2' class='rad mid'>双人</el-radio>
                                </span>
                                <span @click="one_3">
                                    <el-radio :label='3' class='rad'>任意</el-radio>
                                </span>
                            </el-radio-group>

                        </el-menu-item-group>
                    </el-submenu>
                    <el-submenu index="2">
                        <template slot="title">
                            <i class="el-icon-location"></i>
                            <span class="onetitle">类型</span>
                        </template>
                        <el-menu-item-group>
                            <el-radio-group v-model="ok.two">
                                <span @click="two_1">
                                    <el-radio :label="4" class='rad'>标准</el-radio>
                                </span>
                                <span @click="two_2">
                                    <el-radio :label="5" class='rad mid'>商务</el-radio>
                                </span>
                                <span @click="two_3">
                                    <el-radio :label="6" class='rad' style="margin-bottom: 12px">总统</el-radio>
                                </span>
                                <span @click="two_4">
                                    <el-radio :label="66" class='rad'>任意</el-radio>
                                </span>

                            </el-radio-group>
                        </el-menu-item-group>
                    </el-submenu>
                    <el-submenu index="3">
                        <template slot="title">
                            <i class="el-icon-location"></i>
                            <span class="onetitle">价格</span>
                        </template>
                        <el-menu-item-group>
                            <el-radio-group v-model="ok.three">
                                <span @click="three_1">
                                    <el-radio :label="7" class='rad'>0-200</el-radio>
                                </span>
                                <span @click="three_2">
                                    <el-radio :label="8" class='rad mid'>200-300</el-radio>
                                </span>
                                <span @click="three_3">
                                    <el-radio :label="9" class='rad' style="margin-bottom: 12px">300-400</el-radio>
                                </span>
                                <span @click="three_4">
                                    <el-radio :label="99" class='rad'>任意</el-radio>
                                </span>
                            </el-radio-group>
                        </el-menu-item-group>
                    </el-submenu>

                </el-menu>
            </div>


            <div class="Li_3">

                <div class="Li_4" v-for="(item, index) in showdata" :key="index">

                    <div><img :src="item.img" alt="" style="width: 210px;height:140px;"></div>
                    <div class="Li_5">
                        <label>{{item.roomname}}（{{item.roomcategory}}）</label>
                        <div class="Li_6">
                            <img src="img/标签.png" alt="" style="width: 80px;height:30px;">
                            <span>￥{{item.price}}</span>
                        </div>
                        <p>{{item.roomdetail}}&nbsp;&nbsp;|&nbsp;&nbsp;房间号:{{item.roomid}}</p>
                        <button @click="clickbutton($event)" :id="item.roomid">预定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    // axios.defaults.withCredentials = true;
    var nico
    var id
    var home = new Vue({

        el: '#app',
        data: {
            name: null,
            address: '',
            reallname: '',
            flag: Number,
            ok: {
                one: '',
                two: '',
                three: ''
            },
            select: {
                daxiao: '',
                leixing: '',
                jiage: ''
            },
            jiage: '',
            showdata: [],
            p: {
                roomid: '',
                roomstatus: ''
            },
            orders: {
                id: '',
                userid: '',
                roomid: '',
                paymoney: '',
                paystatus: '1',
                ordertime: '',
                orderstatus: '1',

            },
            object: [],
            array: [],
            array2:[],
            max:0
        },

        methods: {
            one_1: function () {
                this.select.daxiao = '单人'
                // console.log(this.select)
                this.compare()
                this.compare2()
                this.addimg()
            },
            one_2: function () {
                this.select.daxiao = '双人'
                // console.log(this.select)
                this.compare()
                this.compare2()
                this.addimg()
            },
            one_3: function () {
                this.select.daxiao = ''
                // console.log(this.select)
                this.compare()
                this.compare2()
                this.addimg()
            },


            two_1: function () {
                // console.log('标准')
                this.select.leixing = '标准'
                // console.log(this.daxiao)
                this.compare()
                this.compare2()
                this.addimg()
            },
            two_2: function () {
                // console.log('商务')
                this.select.leixing = '商务'
                // console.log(this.daxiao)
                this.compare()
                this.compare2()
                this.addimg()
            },
            two_3: function () {
                // console.log('总统')
                this.select.leixing = '总统'
                // console.log(this.daxiao)
                this.compare()
                this.compare2()
                this.addimg()
            },
            two_4: function () {
                // console.log('任意')
                this.select.leixing = ''
                // console.log(this.daxiao)
                this.compare()
                this.compare2()
                this.addimg()
            },


            three_1: function () {
                // console.log('0-200')
                this.select.jiage = [0, 200]
                // console.log(this.daxiao)
                this.compare()
                this.compare2()
                this.addimg()
            },
            three_2: function () {
                // console.log('200-300')
                this.select.jiage = [200, 300]
                // console.log(this.daxiao)
                this.compare()
                this.compare2()
                this.addimg()
            },
            three_3: function () {
                // console.log('300-400')
                this.select.jiage = [300, 400]
                // console.log(this.daxiao)
                this.compare()
                this.compare2()
                this.addimg()
            },
            three_4: function () {
                // console.log('任意')
                this.select.jiage = ''
                // console.log(this.daxiao)
                this.compare()
                this.compare2()
                this.addimg()
            },
            compare: function () {
                if (!this.select.leixing && !this.select.jiage && !this.select.daxiao) {
                    this.showdata = this.homedata
                } else if (!this.select.leixing && !this.select.jiage && this.select.daxiao) {
                    this.showdata = []
                    for (let index = 0; index < this.homedata.length; index++) {
                        if (this.homedata[index].roomcategory == this.select.daxiao) {
                            this.showdata.push(this.homedata[index])
                        }
                    }
                } else if (this.select.leixing && this.select.jiage && !this.select.daxiao) {
                    this.showdata = []
                    for (let index = 0; index < this.homedata.length; index++) {
                        if (this.homedata[index].roomname == this.select.leixing &&
                            Number(this.homedata[index].price) < this.select.jiage[1] &&
                            Number(this.homedata[index].price) > this.select.jiage[0]) {
                            this.showdata.push(this.homedata[index])
                        }
                    }
                } else if (this.select.leixing && !this.select.jiage && !this.select.daxiao) {
                    this.showdata = []
                    for (let index = 0; index < this.homedata.length; index++) {
                        if (this.homedata[index].roomname == this.select.leixing) {
                            this.showdata.push(this.homedata[index])
                        }
                    }
                } else if (!this.select.leixing && this.select.jiage && !this.select.daxiao) {
                    this.showdata = []
                    for (let index = 0; index < this.homedata.length; index++) {
                        if (Number(this.homedata[index].price) < this.select.jiage[1] &&
                            Number(this.homedata[index].price) > this.select.jiage[0]) {
                            this.showdata.push(this.homedata[index])
                        }
                    }
                } else if (this.select.leixing && !this.select.jiage && this.select.daxiao) {
                    this.showdata = []
                    for (let index = 0; index < this.homedata.length; index++) {
                        if (this.homedata[index].roomcategory == this.select.daxiao && this.homedata[index]
                            .roomname == this.select.leixing) {
                            this.showdata.push(this.homedata[index])
                        }
                    }
                } else if (!this.select.leixing && this.select.jiage && this.select.daxiao) {
                    this.showdata = []
                    for (let index = 0; index < this.homedata.length; index++) {
                        if (this.homedata[index].roomcategory == this.select.daxiao &&
                            Number(this.homedata[index].price) < this.select.jiage[1] &&
                            Number(this.homedata[index].price) > this.select.jiage[0]) {
                            this.showdata.push(this.homedata[index])
                        }
                    }
                } else if (this.select.leixing && this.select.jiage && this.select.daxiao) {
                    this.showdata = []
                    for (let index = 0; index < this.homedata.length; index++) {
                        if (this.homedata[index].roomcategory == this.select.daxiao &&
                            this.homedata[index].roomname == this.select.leixing &&
                            Number(this.homedata[index].price) < this.select.jiage[1] &&
                            Number(this.homedata[index].price) > this.select.jiage[0]) {
                            this.showdata.push(this.homedata[index])
                        }
                    }
                }
            },
            compare2: function () {
                for (let index = this.showdata.length - 1; index >= 0; index--) {
                    if (this.showdata[index].roomstatus == '1') {
                        this.showdata.splice(index, 1);
                    }

                }
            },
            addimg: function () {
                for (let index = 0; index < this.showdata.length; index++) {
                    if (this.showdata[index].roomcategory == "单人") {
                        if (this.showdata[index].roomname == "标准") {
                            this.showdata[index].img='./img/1.jpg'
                        } else if (this.showdata[index].roomname == "商务") {
                            this.showdata[index].img='./img/4.jpg'
                        } else {
                            this.showdata[index].img='./img/2.jpg'
                        }
                    } else {
                        if (this.showdata[index].roomname == "标准") {
                            this.showdata[index].img='./img/5.jpg'
                        } else if (this.showdata[index].roomname == "商务") {
                            this.showdata[index].img='./img/3.jpg'
                        } else {
                            this.showdata[index].img='./img/6.jpg'
                        }
                    }

                }
            },
            clickbutton: function (e) {
                // console.log(e)
                if (e.path) {
                    this.p.roomid = e.path[0].id
                    this.orders.roomid = e.path[0].id
                } else {
                    this.p.roomid = e.originalTarget.id
                }
                this.p.roomstatus = "1"
                // console.log(this.p)

                var product = JSON.stringify(this.p)
                axios({
                    method: 'post',
                    url: 'http://localhost:8888/room/updateByPrimaryKeySelective',
                    headers: {
                        "Content-Type": "application/json"
                    },
                    data: product

                }).then((result) => {
                    // console.log(result)					
                })

                for (var k = 0; k < this.showdata.length; k++) {

                    if (this.orders.roomid == this.showdata[k].roomid) {
                        this.orders.paymoney = this.showdata[k].price
                        // console.log(this.order.paymoney)
                    }
                }

                this.orders.ordertime = Date.parse(new Date())
               
                this.insertorder()

                setTimeout(() => {
                    window.location.href = "pay.html?name=" + this.reallname
                }, 1000)

            },

            show: function () {
                for (let index = 0; index < this.homedata.length; index++) {
                    if (this.homedata[index].roomstatus == '0') {
                        this.showdata.push(this.homedata[index])

                    }
                }
                // console.log(this.showdata)
            },

            getData() {
                var login = JSON.stringify(this.login);
                axios({

                    method: 'post',
                    url: 'http://localhost:8888/users/selectAll',
                    headers: {
                        "Content-Type": "application/json"
                    },

                }).then((result) => {
                    this.login = result.data
                    // console.log(this.login[0])
                    var str1;
                    var str2;
                    for (var i = 0; i < this.login.length; i++) {
                        if (this.reallname == this.login[i].username) {
                            this.orders.userid = this.login[i].userid
                            id = this.login[i].id
                            //console.log(this.id)
                        }
                    }

                })

            },

            insertorder() {
                var insert = JSON.stringify(this.orders)
                axios({
                    method: 'post',
                    url: 'http://localhost:8888/order/insertSelective',
                    headers: {
                        "Content-Type": "application/json"
                    },
                    data: insert

                }).then((result) => {
                    //  console.log(result)					
                })
            },

            getorder() {

                var Order = JSON.stringify(this.Order)
                axios({
                    method: 'post',
                    url: 'http://localhost:8888/order/selectAll',
                    headers: {
                        "Content-Type": "application/json"
                    },

                }).then((result) => {
                    this.Order = result.data
                    // console.log(this.Order)
                    if(this.Order.length==0){
                        this.orders.id = this.Order.length + 1
                        // console.log(this.orders.id)
                    }else{
                        for(let d=0;d<this.Order.length;d++){
                        this.array2.push(this.Order[d].id)}
                        // console.log(this.array2)
                        // console.log(this.array2.length)
                        for(let index=0;index<this.array2.length;index++){
                           
                            if(this.max<this.array2[index]){
                                this.max=this.array2[index]
                            }
                        }
                        // console.log(this.max)
                        this.orders.id = parseInt(this.max) + 1
                        // console.log(this.orders.id)
                    }
  
                })



            },

            tiaozhuan() {
                window.location.href = "mygrxx.html?username=" + nico + '?' + id
            }



        },
        mounted() {

            this.name = UrlParam.paramValues("name");
            // console.log(this.name)
            this.reallname = this.name[0]
            nico = this.name[0]
            axios({
                method: 'post',
                url: 'http://localhost:8888/room/selectAll',
                headers: {
                    "Content-Type": "application/json"
                },

            }).then((result) => {
                this.homedata = result.data
                this.show();
                this.addimg()
                // console.log(this.showdata)
            })
           
            this.getData()
            this.getorder()
            // this.address="mygrxx.html?username="+nico
        }

    })
</script>

</html>