<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>登录</title>
	<link rel="stylesheet" type="text/css" href="css/public.css" />
	<link rel="stylesheet" type="text/css" href="css/login.css" />
	<link rel="stylesheet" type="text/css" href="css/index.css" />

	<link rel="stylesheet" href="https://unpkg.com/element-ui@2.12.0/lib/theme-chalk/index.css">
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/element-ui@2.12.0/lib/index.js"></script>

	<!-- <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script> -->
	<script src="https://cdn.bootcss.com/qs/6.7.0/qs.min.js"></script>
	<script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script>

<style>
	#log{
		font-family: Georgia;
		font-size: 24px
	}
	#button{
		/* color: red; */
		background: #c10000 ;
		border-color: #c10000;
		width: 270px;
	}
	#button:hover{
		color: rgb(0, 0, 0);
	}
</style>
</head>

<body>
	<div id="app">
		<!-------------------login-------------------------->
		<div class="head">
			<div class="wrapper clearfix">
				<div class="clearfix" id="top">
					<h1 class="fl"><a href="index.html"><img src="img/logo.png" class="Linn" /></a></h1>
					<div class="fr clearfix" id="top1" style="margin-top: 2%;">
						<p v-if="loginCheck" class="fl">
							<a href="login.html">登录</a>
							<a href="reg.html">注册</a>
						</p>
						<p v-else class="fl">
							欢迎您,{{username}}
						</p>

						<form action="#" method="get" class="fl">
							<input type="text" placeholder="热门搜索：优质房间" />
							<input type="button" />
						</form>


					</div>
				</div>

			</div>
		</div>
		<div class="login">

			<form @submit.prevent="handleSubmit">

				<p style="margin-top: 30px" id="log">用户登录</p>
				<p>
					<!-- <input type="text" v-model="login.loginName" placeholder="账号"> -->
					<el-input v-model="loginName" placeholder="请输入账号"></el-input>
				</p>
				<p>
					<!-- <input type="password" v-model="login.password" placeholder="密码" style="padding-left: 10px;"> -->
					<el-input v-model="password" placeholder="请输入密码" type="password"></el-input>
				</p>
				
				<div class="msg-warn hide" style="margin-top: 10px" v-show="loginError"><b></b>登录失败,账号或密码错误</div>


				<p>
					<el-button type="submit" id="button" @click="clickcheck"><span style="color:white">登录</span></el-button>
				</p>
				<p class="txt"><a class="" href="reg.html">免费注册</a><a href="forgetPwd1.html">忘记密码？</a></p>

			</form>
		</div>
	</div>
</body>
<script>
	//  axios.defaults.withCredentials = true
	new Vue({
		el: '#app',
		data: {
			loginError: false,
			loginName: '',
		    password: '',
			array:[],
			array2:[],
			array3:[],
			loginCheck:true,
			username:'',
            id:'',
            flag:Number, 
		},

		mounted() {
			
              this.getData();	
},

		methods: {

             getData(){

             var login = JSON.stringify(this.login);
             axios({
             method: 'post',
             url: 'http://localhost:8888/users/selectAll',
             headers: {
             "Content-Type": "application/json"

             },

             }).then((result) => {
             this.login=result.data
            //  console.log(this.login)
			 var str1;
			 var str2;
			 var str3;
             for(var i=0;i<this.login.length;i++)
			  {
                this.str1=this.login[i].username;
                // console.log(this.str1)
				this.str2=this.login[i].userpassword;
				// console.log(this.str2)
				this.str3=this.login[i].id;
				this.array.push(this.str1+this.str2);
				// console.log(this.array)
				this.array2.push(this.str1+'?'+this.str3);
			  }
			//    console.log(this.array2)
             })  

             },


             getid(){
				this.flag=0
				var str4
				for(var k=0;k<this.array2.length;k++){
					if(this.array2[k].startsWith(this.loginName)){
						this.str4=this.array2[k]
						this.array3=this.str4.split('?')
						this.id=this.array3[1]
					}
				}
				// console.log(this.id)
                if(this.flag==0){}
			 },

			 clickcheck(){
                 this.getid()
                 for(var j=0;j<this.array.length;j++){

					 if(this.array[j]==this.loginName+this.password){
                        window.location.href = "mygrxx.html?username="+this.loginName+'?'+this.id;
						
					 }else{
						this.loginError=true;
					 }
				 }
  			 }

		},
		

	})
</script>
<script src="js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/public.js" type="text/javascript" charset="utf-8"></script>

</html>