<!DOCTYPE html>
<html>

<head lang="en">
	<meta charset="utf-8" />
	<title>个人信息</title>
	<link rel="stylesheet" type="text/css" href="css/public.css" />
	<link rel="stylesheet" type="text/css" href="css/mygrxx.css" />
	<link rel="stylesheet" type="text/css" href="css/home.css" />
	<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
	<script src="https://cdn.bootcss.com/qs/6.7.0/qs.min.js"></script>
	<script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script>
	<script src="js/getUrlParam.js"> </script>
</head>

<body>
	<div id="app">
		<!------------------------------head------------------------------>
		<div class="head">
			<div class="wrapper clearfix">
				<div class="clearfix" id="top">
					<h1 class="fl"><a href="index.html"><img src="img/logo.png" /></a></h1>
					<div class="fr clearfix" id="top1" style="margin-top: 2%;">
						<p v-if="loginCheck" class="fl">
							<a href="login.html">登录</a>
							<a href="reg.html">注册</a>
						</p>
						<p v-else class="fl">
							欢迎您,{{name}}
						</p>

						<form action="#" method="get" class="fl">
							<input type="text" placeholder="热门搜索：优质房间" />
							<input type="button" />
						</form>
					</div>
				</div>

			</div>
		</div>
		<!------------------------------idea------------------------------>


		<!------------------------------Bott------------------------------>
		<div class="Bott">
			<div class="wrapper clearfix">
                <div class="zuo fl" style="float:left;width: 200px;height: 140px;border: 1px solid #e4e4e4;background-color: white;">
					<div style="position: relative;">
						<ul>
							<li style="margin-top: 20px;" @click="Information">我的信息</li>
							<li style="margin-top: 30px;" @click="Order">我的订单</li>
						</ul>
						<div style="position: absolute;top:50px;left:10px;border:1px solid #e4e4e4;width: 180px;"></div>
					</div>
				</div>

				<div class="you fl" style="float:left;" v-show="showinformation">
					<h2>填充信息</h2>
					<div class="gxin">
						<!-- <div class="tx" style="margin-top: 0%"><a href="#"><img src="img/tx.png" />
								<p id="avatar">修改头像</p>
							</a></div> -->
						<div class="xx">
							<h3 class="clearfix"><strong class="fl">基础资料</strong><a href="#" class="fr"
									id="edit1" v-show="showwrite">填充</a></h3>
							<div>姓名：{{name}}</div>
							<div>性别：{{chinasex}}</div>
							<div>身份证号：{{information.a1}}</div>
							<!-- <div>邮箱：{{reallemail}}</div> -->
							<div>地址：{{information.a2}}</div>
							<div>联系方式：{{information.a3}}</div>
							<div style="width: 100px;height:35px;margin: auto;"><button @click="TO" style="width: 100%;height:100%;border-radius:10px;border:1px soild white;background-color: #c10000;color:white;">进入</button></div>
							<div style="margin: auto;color: #c10000;" v-show="show">请点击右上角填充按钮，填充信息。</div>
						</div>
					</div>
				</div>

				<div class="you fl"  style="float:left;" v-show="showinformation2">
					<h2>我的订单</h2>
					<div class="Li_3" style="border: 1px solid #e4e4e4;width: 100%;margin-left: 0px;padding-left: 30px;">
						<div class="Li_4" v-for="list in list2">
							<div><img :src="list.img" style="width: 210px;height:140px;"></div>
							<div class="Li_5">
								<label>{{list.roomname}}&nbsp;&nbsp;|&nbsp;&nbsp;{{list.roomcategory}}</label>
								<div class="Li_6">
									<img src="img/标签.png" alt="" style="width: 80px;height:30px;">
									<span>￥{{list.price}}</span>
								</div>
								<p>{{list.roomdetail}}&nbsp;&nbsp;|&nbsp;&nbsp;房间号:{{list.roomid}}</p>
								<button style="width: 85px;" @click="clickupdate(list.roomid)">可退订</button>
							</div>
						</div>
					</div>

				</div>

			</div>
			<!--footer-->
			<div class="footer">
				<div class="top">
					<div class="wrapper">
						<div class="clearfix">
							<a href="#2" class="fl"><img src="img/foot1.png" /></a>
							<span class="fl">节假日度假酒店</span>
						</div>
						<div class="clearfix">
							<a href="#2" class="fl"><img src="img/foot2.png" /></a>
							<span class="fl">观景区酒店</span>
						</div>
						<div class="clearfix">
							<a href="#2" class="fl"><img src="img/foot3.png" /></a>
							<span class="fl">情侣双人减半</span>
						</div>
						<div class="clearfix">
							<a href="#2" class="fl"><img src="img/foot4.png" /></a>
							<span class="fl">食物特色服务</span>
						</div>
					</div>
				</div>
				<p class="dibu">拾荒&copy;2018-2019公司版权所有 苏ICP备080100-44备0000111000号<br />
					违法和不良信息举报电话：159-5051-9615，本网站所有数据均来源于互联网，若有侵权，联系删除</p>
			</div>
		</div>
		<!--遮罩-->
		<div class="mask"></div>
		<!--编辑弹框-->
		<div class="bj">
			<div class="clearfix"><a href="#" class="fr gb"><img src="img/icon4.png" /></a></div>
			<h3>填充资料</h3>
			<form action="#" method="get">
				<p><label>姓名：</label><input type="text" v-model="reallname"/></p>
				<p><label>证件：</label><input type="text" v-model="user.userid"  /></p>
				<p>
					<label>性别：</label>
					<span><input type="radio" name="light" @click="checksex" />男</span>
					<span><input type="radio" name="light" @click="checksex2" />女</span>
				</p>
				<!-- <p><label>邮箱：</label><input type="text" v-model="reallemail" value="XX" /></p> -->
				<p><label>地址：</label><input type="text" v-model="user.address" /></p>
				<p><label>电话：</label><input type="text" v-model="user.phone" /></p>
				<div class="bc">
					<input type="button" value="保存" @click="TOhome" />
					<input type="button" value="取消" />
				</div>
			</form>
		</div>
		
		
		<!-- <div class="xg">
			<div class="clearfix"><a href="#" class="fr gb"><img src="img/icon4.png" /></a></div>
			<h3>切换账号地区</h3>
			<form action="#" method="get">
				<p><label>姓名：</label><input type="text" value="lisi" /></p>
				<div class="bc">
					<input type="button" value="保存" />
					<input type="button" value="取消" />
				</div>
			</form>
		</div> -->

	</div>

	<script>
		// axios.defaults.withCredentials = true

		var vm = new Vue({
			el: '#app',
			data: {
				loginCheck: false,
				show:false,
				showinformation:true,
				showinformation2:false,
				showwrite:true,
				name: null,
				userdata: '',
				reallname: '',
				reallemail: '',
				array: [],
				array2:[],
				str: '',
				chinasex: '',
				user: {
					id: '',
					userid: '',
					address: '',
					phone: '',
					sex: ''
				},
				information:{
					  a1:'',
					  a2:'',
					  a3:''
				},
                room:{
				   roomid:'',
				   roomstatus:''
				},
				order:{
				   id:'',
				  
				},
				list:[],
				list2:[],
				img:''
			},
			mounted() {
				this.userdata = UrlParam.paramValues("username");
				// console.log(this.userdata)
				this.str = this.userdata[0]
				this.array = this.str.split('?')
				this.name = this.array[0]
				this.user.id = this.array[1]
				this.getData()
				
				

			},
			methods: {

				clickupdate(id){
					  console.log(id)

					 this.room.roomid=id
					 this.room.roomstatus='0'
                     var updateroom = JSON.stringify(this.room);
					 axios({
						method: 'post',
						url: 'http://localhost:8888/room/updateByPrimaryKeySelective',
						headers: {
							"Content-Type": "application/json"

						},

						data: updateroom

					}).then((result) => {
						  console.log(result)

					})
									
					setTimeout( () =>{

					var orderinform = JSON.stringify(this.orderinform);
					axios({
					method: 'post',
					url: 'http://localhost:8888/order/selectAll',
					headers: {
					"Content-Type": "application/json"

					},

					}).then((result) => {
					this.orderinform = result.data
					// console.log(this.orderinform)
					for(let q=0;q<this.orderinform.length;q++){
						if(id==this.orderinform[q].roomid){
							this.order.id=this.orderinform[q].id
							this.order.roomid=this.orderinform[q].roomid
						}
					}
                      console.log(this.order.id)

					})

					 }, 200)

					 setTimeout( () =>{
					 
					axios({
					method: 'post',
					url: 'http://localhost:8888/order/deleteByPrimaryKey',
					headers: {
					    "Content-Type": "application/json"
					},
					params: {id: this.order.id}
					}).then((result) => {
						//  console.log(result.data)                     
					})


                    }, 300)
                   
                    setTimeout(function(){

                    location.reload("mygrxx.html");

                    },400)
					
					 
				},

				Information(){
                    this.showinformation2=false
					this.showinformation=true
				},
				Order(){
                    this.showinformation2=true
					this.showinformation=false
				},


				TOhome() {

					this.upDate()
					
					setTimeout(function(){

						location.reload("mygrxx.html");

					},500)

				},
				
				TO(){
                     
					 if(this.information.a1){
						 this.show=false;
						 window.location.href = "home.html?name="+this.name;}
					 else{this.show=true; }

					 
				},

				checksex() {
					this.user.sex = 0;
					// this.chinasex = '男'
				},
				checksex2() {
					this.user.sex = 1;
					// this.chinasex = '女'
				},

				upDate() {

					var update = JSON.stringify(this.user);
					axios({
						method: 'post',
						url: 'http://localhost:8888/users/updateByPrimaryKeySelective',
						headers: {
							"Content-Type": "application/json"

						},

						data: update

					}).then((result) => {
						// console.log(result)

					})

				},

				getData() {

					var login = JSON.stringify(this.login);
					axios({
						method: 'post',
						url: 'http://localhost:8888/users/selectAll',
						headers: {
							"Content-Type": "application/json"

						},

					}).then((result) => {
						this.login = result.data[parseInt(this.user.id)-1]
						// console.log(this.login)
						this.information.a1=this.login.userid
						this.information.a2=this.login.address
						this.information.a3=this.login.phone
						if(this.login.sex=='0'){this.chinasex='男'}
						else{this.chinasex='女'}

						if(this.information.a1.length==18){
					      this.showwrite=false
				           }
					})

					setTimeout( () =>{
					var orderinfor = JSON.stringify(this.orderinfor);
					axios({
					method: 'post',
					url: 'http://localhost:8888/order/selectAll',
					headers: {
					"Content-Type": "application/json"

					},

					}).then((result) => {
					this.orderinfor = result.data
					for(let i=0;i<this.orderinfor.length;i++){ if(this.information.a1==this.orderinfor[i].userid){
						this.list.push(this.orderinfor[i]) } }  }) }, 200)

					setTimeout( () =>{
                      this.getinfor()
                       }, 300)
				},

                getinfor(){
					
					
					
					var roominfor = JSON.stringify(this.roominfor);
					axios({
						method: 'post',
						url: 'http://localhost:8888/room/selectAll',
						headers: {
							"Content-Type": "application/json"

						},

					}).then((result) => {
						this.roominfor = result.data
						for(let j=0;j<this.list.length;j++){
                            for(let k=0;k<this.roominfor.length;k++){
								if(this.list[j].roomid==this.roominfor[k].roomid){
									this.list2.push(this.roominfor[k])
									
								}
							}
						}
						

						for(let p=0;p<this.list2.length;p++){ 
							if (this.list2[p].roomcategory=="单人" ) { 
								if(this.list2[p].roomname=="标准" ) 
								  { this.list2[p].img='./img/1.jpg' } 
								else if(this.list2[p].roomname=="商务" ) 
								  { this.list2[p].img='./img/4.jpg' } 
							    else 
								  {this.list2[p].img='./img/2.jpg' } 
							} 
							else { 
								if (this.list2[p].roomname=="标准" ) 
								  {this.list2[p].img='./img/5.jpg' } 
								else if (this.list2[p].roomname=="商务" ) 
								  {this.list2[p].img='./img/3.jpg' } 
								else 
								  { this.list2[p].img='./img/6.jpg' } 
							} 
						}
					})
				},





			}
		})
	</script>
	<script src="js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/public.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/user.js" type="text/javascript" charset="utf-8"></script>

</body>

</html>