<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
	<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>

</head>
<body>
        <div id="test">
                单位：
                <select v-model="UnitSelected">
                    <option v-for="item in UnitList" :value="item.id">{{item.name}}</option>
                </select>
                部门：
                <select v-model="DepartmentSelected">
                    <option v-for="item in DepartmentList" :value="item.id">{{item.name}}</option>
                </select>
                用户：
                <select v-model="UserSelected">
                    <option v-for="item in UserList" :value="item.id">{{item.name}}</option>
                </select>
            </div>
</body>
<script>
var UnitRows = [
    {name:"中国",id:"1"},
    {name:"美国",id:"2"},
];
var DepartmentRows = [
    {name:"新疆",id:"1",pid:"1"},
    {name:"苏州",id:"2",pid:"1"},
    {name:"纽约",id:"3",pid:"2"},
    {name:"华氏度",id:"4",pid:"2"}
];
var UserRows = [
    {name:"羊肉",id:"1",pid:"1"},
    {name:"猪肉",id:"2",pid:"1"},
    {name:"狗肉",id:"3",pid:"1"},
    {name:"丝竹",id:"3",pid:"2"},
    {name:"琵琶",id:"4",pid:"2"},
    {name:"211",id:"5",pid:"3"},
    {name:"212",id:"6",pid:"3"},
    {name:"221",id:"7",pid:"4"},
    {name:"222",id:"8",pid:"4"}
]
var vm = new Vue({
    el:"#test",
    data:{
        UnitSelected:"",
        UnitList:[],
        DepartmentSelected:"",
        DepartmentList:[],
        UserSelected:"",
        UserList:[]
    },
    created:function () {
        this.UnitList = UnitRows;
        this.UnitSelected = this.UnitList.length>0 ? this.UnitList[0].id : "";

        var val = this.UnitSelected;
        this.DepartmentList = DepartmentRows.filter(function (x) { return x.pid == val });
        this.DepartmentSelected = this.DepartmentList.length>0 ? this.DepartmentList[0].id : "";

        val = this.DepartmentSelected;
        this.UserList = UserRows.filter(function (x){ return x.pid == val});
        this.UserSelected = this.UserList.length>0 ? this.UserList[0].id : "";
    },
    watch:{
        UnitSelected:function (val) {
            this.DepartmentList = DepartmentRows.filter(function (x) { return x.pid == val });
            this.DepartmentSelected = this.DepartmentList.length>0 ? this.DepartmentList[0].id : "";
        },
        DepartmentSelected:function (val) {
            this.UserList = UserRows.filter(function (x){ return x.pid == val});
            this.UserSelected = this.UserList.length>0 ? this.UserList[0].id : "";
        }
    }
});
</script>
</html>