p{
    margin:0;
    padding: 0;
}
.top {
    width: 100%;
    background: black;
    height: 50px;
    display: flex;
}

p {
    display: inline-block
}

.top div {
    flex-basis: 33%;
    color: white;
    font-size: 24px;
    line-height: 50px;
    display: inline-block;
}

.adm {
    margin-right: 5%
}

.adm p {
    float: right;
}

.time p {
    float: right;
}

.back {
    margin-left: 5%;
    display: flex;
}

.back div {
    flex-basis: 50%
}

.back span {
    font-size: 20px;
}

.body{
    display: flex
}
.body .b_one{
    height: 900px;
    flex-basis: 20%;
    border: 1px solid black;
    position: relative;
}
.body .b_two{
    height: 900px;
    flex-basis: 80%;
    border: 1px solid black;
    background: #efefef
}
.b_one{
    text-align: center;
}
.luru{
    font-size: 30px
}
.b_one2{
    
    margin: 0 auto;
    margin-top: 20%;
    width: 60%;
    height: 50%;
    /* background: red */
}

.b_one2 div{
    width: 100%;
    height: 50px;
}

.luru p{
    float: left;
    line-height: 50px;
}
.select_one{
    border-radius: 10px 10px 0 0;
    border: 1px solid black
}
.select_two,.select_three{
 border-left: 1px solid black;
 border-right: 1px solid black;
 border-bottom:1px solid black;
}
.select_one,.select_two,.select_three{
    font-size: 17px;
    line-height: 50px;
    /* font-weight: 300; */
}
.select_three{
    border-radius: 0 0 10px 10px;
}
