.header{
    width: 200px;
    height: 200px;
    background-color: pink;
    a {
        color: red;
        &:hover{
            color: blue;
        }
    }
}
.nav{
    .logo{
        color: green;
    }
    &::brfore{
        content: '';
    }
}