<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>

</head>
<style>
    li{
        display: flex;
    }
    .nico1{
        width: 20px;
        height: 20px;
    }
    .done{
        background: gray;
    }
    .checked{
        border: 1px solid gray;
        box-sizing: border-box;
        background: red;
    }
    .nochecked{
        border: 1px solid gray;
        box-sizing: border-box;
    }
    .selected{
        color: grey;
    }
</style>
<body>
    <div id="app">

            <h1>{{name}}</h1>
            <button @click = closeApp()>关闭应用</button>
            <button @click = miniApp()>最小化应用</button>

            <ul>
                <li :class="{'done':todo.done}"  
                v-for="todo of showtodos" 
                style="list-style-type:none;width: 150px;" 
                @click="click(todo)">
                    <div class="nico1" :class="todo.done?'checked':'nochecked'"></div>
                    <label for="">{{todo.title}}</label>
                    <button @click.stop="deleteit(todo)">移除</button>
                </li>
            </ul>
            <div class="b">
                <div class="box">
                    <b @click="choose('done')" :class={'selected':type=='done'}>查看已完成</b>
                    <b @click="choose('undone')" :class={'selected':type=='undone'}>查看未完成</b>
                    <b @click="choose('all')" :class={'selected':type=='all'}>查看全部任务</b>
                </div>
                <input type="text" placeholder="在这里输入内容" v-model="newTodo" @keydown.enter = 'addTodo'>
            </div>
    </div>
</body>
<script>

// const Vue = require('vue')

const {remote} = require("electron")
let id = 0
new Vue({
        el:'#app',
        data:{
            name:'待办事项',
            type:'all',  //all,done,undone
            newTodo:'',
            todos:[]
        },
        computed: {
            showtodos(){
                return this.todos.filter(todo=>{
                    switch(this.type){
                        default:
                        case 'all':
                            return true
                        case 'done':
                            return todo.done
                        case 'undone':
                            return !todo.done
                    }
                })
            }
        },
        methods: {
            closeApp(){
                //App对象只能通过主线程调用
                remote.app.exit()
            },
            miniApp(){
                //通过remote下的一个方法来获取当前窗口对象
                remote.getCurrentWindow().minimize()
            },
            //添加任务
            addTodo(){
                this.todos.push({
                    id:id++,
                    title:this.newTodo,
                    done:false
                })
                 this.newTodo = ''
            },
            //任务状态切换
            click(todo){
                todo.done=!todo.done
            },
            deleteit(todo){
                console.log(todo)   //todo为被点击的对象
                this.todos = this.todos.filter(item=>{
                    return item!=todo
                })
            },
            //更改查看的任务类型
            choose(type){
                this.type = type
            }
        },
    })
</script>
</html>