<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>注册</title>
	<link rel="stylesheet" type="text/css" href="css/public.css" />
	<link rel="stylesheet" type="text/css" href="css/login.css" />
	<link rel="stylesheet" type="text/css" href="css/reg.css" />
	<link rel="stylesheet" href="https://unpkg.com/element-ui@2.12.0/lib/theme-chalk/index.css">
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/element-ui@2.12.0/lib/index.js"></script>

	<!-- <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script> -->
	<script src="https://cdn.bootcss.com/qs/6.7.0/qs.min.js"></script>
	<script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script>
</head>

<body>
	<div id="app">
		<div class="head">
			<div class="wrapper clearfix">
				<div class="clearfix" id="top">
					<h1 class="fl"><a href="index.html"><img src="img/logo.png" /></a></h1>
					<div class="fr clearfix" id="top1" style="margin-top: 2%;">
						<p v-if="loginCheck" class="fl">
							<a href="login.html">登录</a>
							<a href="reg.html">注册</a>
						</p>
						<p v-else class="fl">
							欢迎您,{{username}}
						</p>
						<form action="#" method="get" class="fl">
							<input type="text" placeholder="热门搜索：优质房间" />
							<input type="button" />
						</form>
					</div>
				</div>
				
			</div>
		</div>
		<!-------------------reg-------------------------->
		<div class="reg" style="position: relative;">
			<form>

				<p id="log">用户注册</p>
				<p>
					<!-- <input type="text" v-model="user.username" @blur="checkName" placeholder="请输入用户名"> -->
					<el-input v-model="user.username" type="text" placeholder="请输入用户名" @blur="checkName"></el-input>
				</p>
				<div class="msg-warn hide" style="margin-top: 10px" v-show="noName"><b></b>该用户名已被注册</div>

				<p>
					<!-- <input type="text" v-model="user.email" @blur="checkEmail" placeholder="请输入邮箱"> -->
					<el-input v-model="user.email" placeholder="请输入邮箱"></el-input>
				</p>
				<div class="msg-warn hide" style="margin-top: 10px" v-show="noEmail"><b></b>该邮箱已被注册或非邮箱格式</div>

				<p>
					<!-- <input type="password" v-model="user.password" placeholder="请输入密码" style="padding-left: 10px;"> -->
					<el-input type="password" v-model="user.userpassword" placeholder="请输入密码"></el-input>
				</p>
				<p>
					<!-- <input type="password" v-model="samePassword" @blur="checkPassword" placeholder="请确认密码" style="padding-left: 10px;"> -->
					<el-input type="password" v-model="samePassword" placeholder="请确认密码" @blur="checkPassword"></el-input>
				</p>
				<div class="msg-warn hide" style="margin-top: 10px" v-show="checkSamePassword"><b></b>两次密码不一致</div>


				<p>
					<!-- <input type="submit" name="" value="注册"> -->
					<el-button type="submit" id="button" value="注册"><span style="color:white" @click="checkAll">注册</span></el-button>
				</p>
				<div style="margin-top: 10px" v-show="success"><b></b>注册成功</div>
				<div style="margin-top: 10px" v-show="False"><b></b>注册失败</div>
				<p class="txtL txt">完成此注册，即表明您同意了我们的<a href="#">使用条款和隐私策略</a></p>
				<p class="txt"><a href="login.html"><span></span>已有账号登录</a></p>
				<!--<a href="#" class="off"><img src="img/temp/off.png"></a>-->
			</form>
		</div>
	</div>
</body>
<script src="js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/public.js" type="text/javascript" charset="utf-8"></script>
<script>

	// axios.defaults.withCredentials = true
	var vm = new Vue({
		el: '#app',
		data: {
			noName: false,
			noEmail: false,
			loginCheck:true,
			checkSamePassword: false,
			samePassword: '',
			user: {
				username: '',
				userpassword: '',
				id:'',
			},
			success:false,
			False:false,
			username: '',
			array:[],
			flag:Number,
			Length:Number
		},
		mounted() {

		  this.getData();
          
		},
		methods: {
		   
		    //获取数据库数据
			getData(){

			var login = JSON.stringify(this.login);
			axios({
			method: 'post',
			url: 'http://localhost:8888/check',
			headers: {
			"Content-Type": "application/json"

			},

			}).then((result) => {
			this.login=result.data.rs
            this.Length=this.login.length;
			this.user.id=this.Length+1;  
			// console.log(this.user.id)
			var str;
			for(var i=0;i<this.login.length;i++) 
			{ 
				this.str=this.login[i].username; 
				this.array.push(this.str);
				// console.log(this.array)
			} 
		 }) 
		},
		  
		 //检查用户名是否重复
         checkName(){
			//  console.log(this.user.username)
			 this.flag=0;
			for(var j=0;j<this.array.length;j++)
			 {   
				 if(this.array[j]==this.user.username)
				 {
					 this.noName=true;
				     this.flag=1;
				}
				if(this.flag==0){this.noName=false;}
		     }
			},

			checkPassword(){
				if(this.user.userpassword!=this.samePassword){
					this.checkSamePassword=true
				}
			},

			checkAll(){
				if(this.flag==1){
					this.False=true
				}else{
					this.insert();
				}
			},

           //注册
           insert(){
			axios({
			method: 'post',
			url: 'http://localhost:8888/insert',
			headers: {
			"Content-Type": "application/json"
			},
			data:JSON.stringify({userdata:this.user})
			}).then((result) => {
             this.success=true
			//  console.log(result)
		
		   })

         
		},

		
	}



})


</script>

</html>