#log{
		font-family: Georgia;
		font-size: 24px
	}
#button{
		/* color: red; */
		background: #c10000 ;
		border-color: #c10000 ;
		width: 270px;
	}
#button:hover{
		color: rgb(0, 0, 0);
	}