*{
    -webkit-tap-highlight-color: transparent;
    /* 去除点击高亮 */
}
input{
    -webkit-appearance: none;
    /* 去除按钮默认样式 */
}
img,a{
    -webkit-touch-callout: none;
    /* 禁用长按页面时的弹出菜单 */
}
a{
    text-decoration: none;
    color: #222;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
div{
    box-sizing: border-box;
}
body{
    width: 100%;
    min-width: 320px;
    max-width: 540px;
    margin: 0 auto;
    font-size: 14px;
    font-family: -apple-system, Helvetica, sans-serif;
    color: #000;
    line-height: 1.5;
    /* background-color: #cccccc; */
    overflow-x: hidden;
}
/* 搜索模块 */
.search-index{
    /* 固定定位和父级没有关系，以屏幕为准 */
    position: fixed;
    min-width: 320px;
    max-width: 540px;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    /* 固定的盒子应该有宽度 */
    width: 100%;
    height: 44px;
    background-color: #f6f6f6;
    display: flex;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.search{
    flex: 1;
    height: 26px;
    border: 1px solid #ccc;
    margin: 7px 10px;
    border-radius: 5px; 
    position: relative;
    font-size: 12px;
    color: #666;
    line-height: 24px;
    padding-left: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.search::after{
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    background: url(../images/sprite.png) no-repeat -59px -279px;
    background-size: 104px;
}
.user{
    width: 44px;
    height: 44px;
    /* background-color: blue; */
    font-size: 12px;
    text-align: center;
    color: #2eaae0;
}
.user::before{
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    background: url(../images/sprite.png) no-repeat -59px -194px;
    background-size: 104px;
    margin: 4px auto -2px;
}
/* 焦点图 */
.focus{
    margin-top: 44px;
}
.focus img{
    width: 100%;
    vertical-align: top;
}
/* 局部导航栏 */
.local-nav{
    height: 64px;
    background-color: #fff;
    border-radius: 8px;
    /* margin: 3px 4px; */
    display: flex;
}
.local-nav li{
    flex: 1;
}
.local-nav a{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}
.local-nav li [class^="local-nav-icon"]{
    width: 32px;
    height: 32px;
    margin-top: 8px;
    background: url(../images/localnav_bg.png) no-repeat 0 0;
    background-size: 32px ;
}
.local-nav li .local-nav-icon-icon2{
    background-position: 0 -32px;
}
.local-nav li .local-nav-icon-icon3{
    background-position: 0 -64px;
}
.local-nav li .local-nav-icon-icon4{
    background-position: 0 -96px;
}
.local-nav li .local-nav-icon-icon5{
    background-position: 0 -128px;
}
/* 主导航栏 */
nav{
    border-radius: 8px;
    overflow: hidden;
}
.nav-common{
    height: 88px;
    background-color: pink;
    display: flex;
}
.nav-common:nth-child(2){
    margin: 3px 0 ;
}
.nav-items{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.nav-items a{
    flex: 1;
    text-align: center;
    line-height: 44px;
    color: #fff;
    font-size: 14px;
    /* 文字阴影 */
    text-shadow: 1px 1px rgba(0, 0, 0, .2);
}
.nav-items a:nth-child(1){
    border-bottom: 1px solid #fff;
}
.nav-items:nth-child(1) a{
    border: 0;
    background: url(../images/hotel.png) no-repeat bottom center;
    background-size: 121px;
}
.nav-items:nth-child(-n+2){
    border-right: 1px solid #fff;
}
.nav-common:nth-child(1){
    background: -webkit-linear-gradient(left,#fa5a55,#fa994d)
}
.nav-common:nth-child(2){
    background: -webkit-linear-gradient(left,#4b90ed,#538ced)
}
.nav-common:nth-child(3){
    background: -webkit-linear-gradient(left,#34c2a9,#6cd559)
}
/* 侧导航 */
.subentry{
    padding: 5px;
    display: flex;
    border-radius: 8px;
    background-color: #fff;
    flex-wrap: wrap;
    
}
.subentry li{
    flex: 20%;
}
.subentry li a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subentry-icon{
    width: 28px;
    height: 28px;
    margin-top: 4px;
    background: url(../images/subnav-bg.png) no-repeat;
    background-size: 28px;
}